.additionalInfoWrapper {
  /* min-height: 100vh; */
}

.movieDetailsWrapper {
  max-width: 1000px;
  margin: 20px auto 0px;
  text-align: left;
}

.title {
  text-align: center;
}

.poster {
  max-width: 300px;
  position: relative;
  display: inline-block;

  img {
    border: 2px solid rgb(77, 92, 101);
    border-radius: 10px;
    display: block;
    position: relative;
    z-index: 1;
  }
}

.movieDetailsList {
  -webkit-box-shadow: 5px 5px 100px 1px rgba(0, 0, 0, 0.24);
  box-shadow: 5px 5px 100px 1px rgba(0, 0, 0, 0.24);
  background: linear-gradient(
    to right,
    rgba(166, 155, 183, 0.311),
    rgba(110, 173, 173, 0.244),
    rgba(110, 119, 173, 0.205)
  );
  border-radius: 8px;
  padding: 30px 40px;
  margin-top: 20px;
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: stretch;

  @media screen and (max-width: 700px) {
    flex-direction: column;
    align-items: center;
  }
}

.movieDescriptionList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;

  span {
    color: rgb(37, 255, 255);
    font-weight: 500;
    margin-left: 5px;
  }
}

.genresList {
  position: relative;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
}

.genresList::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgb(98, 136, 175),
    rgb(110, 173, 173),
    rgb(110, 119, 173)
  );
}

.overview {
  max-width: 400px;
  padding-bottom: 10px;
  position: relative;
}

.overview::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgb(98, 136, 175),
    rgb(110, 173, 173),
    rgb(110, 119, 173)
  );
}

.homePageItem a {
  padding: 8px 10px;
  -webkit-box-shadow: -1px 11px 17px -3px rgba(0, 0, 0, 0.178);
  box-shadow: -1px 7px 17px -3px rgba(0, 0, 0, 0.203);
  color: rgb(194, 219, 241);
  background: #5a5fb5;
  border: 1px solid rgba(186, 182, 194, 0.53);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.homePageItem {
  position: relative;
  padding-bottom: 20px;
  a:hover {
    color: rgb(114, 227, 247);
    background: #494d9e;
  }
}

.homePageItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgb(98, 136, 175),
    rgb(110, 173, 173),
    rgb(110, 119, 173)
  );
}

.additionalInfoNavigation {
  margin: 40px auto 0;
}

.additionalInfoTitle {
  position: relative;
  padding-bottom: 5px;
  text-align: center;
  color: rgb(164, 210, 210);
}

.additionalInfoTitle::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgb(110, 119, 173),
    rgb(110, 173, 173),
    rgb(98, 136, 175)
  );
}

.additionalInfoButtons {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  transition: all 0.3s ease;
}

.link:hover {
  color: aquamarine;
}

.link.active {
  color: aqua;
}

.poster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 150%;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    rgba(0, 255, 255, 0.5),
    rgba(255, 0, 255, 0.5)
  );
  filter: blur(15px);
  z-index: 0;
  animation: glow 3s infinite alternate;
  pointer-events: none;
}

@keyframes glow {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.vote {
  padding: 8px;
  border-radius: 30%;
}

.low {
  border: 2px solid rgba(245, 73, 26, 0.434);
  background: rgba(0, 0, 0, 0.263);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.379) 0%,
    rgba(255, 55, 0, 0.053) 100%
  );
}

.middle {
  border: 2px solid rgba(255, 251, 0, 0.461);
  background: rgba(0, 0, 0, 0.354);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.338) 0%,
    rgba(255, 204, 0, 0.053) 100%
  );
}

.high {
  border: 2px solid rgba(9, 255, 0, 0.461);
  background: rgba(0, 0, 0, 0.324);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.482) 0%,
    rgba(0, 255, 98, 0.142) 100%
  );
}
