.movieItem {
  position: relative;
  color: rgb(217, 217, 217);
  overflow: hidden;
  align-self: stretch;
  flex: 1 1 200px;
  border: 2px solid rgba(128, 128, 128, 0.463);
  border-radius: 16px;
  transition: all 0.3s ease;
  background: linear-gradient(
    330deg,
    hsl(221deg 58% 15%) 0%,
    hsl(257deg 35% 18%) 11%,
    hsl(294deg 36% 18%) 23%,
    hsl(323deg 44% 20%) 35%,
    hsl(340deg 49% 22%) 46%,
    hsl(355deg 46% 25%) 58%,
    hsl(12deg 54% 25%) 69%,
    hsl(26deg 66% 22%) 80%,
    hsl(40deg 76% 20%) 90%,
    hsl(55deg 74% 18%) 100%
  );
}

.movieItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 255, 255, 0);
  transition: background-color 0.3s ease;
  z-index: 1;
  border-radius: 16px;
  pointer-events: none;
}

.movieItem:hover::before {
  background: rgba(192, 192, 192, 0.1);
}

.movieItem:hover {
  z-index: 99;
  border: 2px solid rgba(163, 163, 163, 0.696);
}

.movieItem a:hover {
  color: inherit;
}

.movieItem img {
  margin: 0 auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.movieDetails {
  position: relative;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.vote {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 5px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.low {
  border: 2px solid rgba(255, 55, 0, 0.461);
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 55, 0, 0.053) 100%
  );
}
.middle {
  border: 2px solid rgba(255, 251, 0, 0.461);
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 204, 0, 0.053) 100%
  );
}

.high {
  border: 2px solid rgba(9, 255, 0, 0.461);
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 255, 98, 0.053) 100%
  );
}

.releaseDate {
  color: rgb(124, 194, 255);
}
