.searchForm {
  padding: 0 20px;
  max-width: 640px;
  margin: 70px auto -30px;
  position: relative;
}

.searchForm input {
  -webkit-box-shadow: -1px 11px 17px -3px rgba(0, 0, 0, 0.002);
  box-shadow: -1px 11px 17px -3px rgba(0, 0, 0, 0.082);
  width: 100%;
  outline: none;
  margin: 0 auto;
  font-size: 18px;
  padding: 12px 20px;
  border-radius: 10px;
  background: rgb(51, 56, 159);
  background: linear-gradient(
    165deg,
    rgba(63, 68, 157, 0.514) 0%,
    rgba(71, 79, 141, 0.475) 52%,
    rgba(26, 82, 160, 0.363) 100%
  );
  transition: border 0.2s ease;
  color: rgb(198, 198, 198);
  border: 1px solid rgb(90, 129, 147);
}

.searchForm input:hover {
  border: 1px solid rgba(128, 169, 188, 0.79);
}

.searchForm input:focus {
  border: 1px solid rgba(151, 183, 198, 0.881);
}

.searchForm input::placeholder {
  font-size: 20px;
  font-family: Montserrat;
  letter-spacing: 0.02em;
  color: rgba(169, 194, 209, 0.582);
}

.searchForm button {
  position: absolute;
  top: 0;
  right: 30px;
  padding: 12px 0;
  background-color: transparent;
  color: rgb(224, 224, 224);
  transition: color 0.5s ease, scale 0.2s ease;
  border: none;
}

.searchForm button:hover {
  color: rgb(225, 225, 225);
  scale: 1.2;
}

/* .toaster {
  background-color: #f7b5b559;
  border: 1px solid #757575;
  padding: 4px;
  color: #bababa;
} */
