.movieList {
  margin: 60px auto 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.movieItem {
  position: relative;
  overflow: hidden;
  align-self: stretch;
  flex: 1 1 18%;
  /* background: #234ad6ad; */
  background: linear-gradient(
    330deg,
    hsl(221deg 58% 15%) 0%,
    hsl(257deg 35% 18%) 11%,
    hsl(294deg 36% 18%) 23%,
    hsl(323deg 44% 20%) 35%,
    hsl(340deg 49% 22%) 46%,
    hsl(355deg 46% 25%) 58%,
    hsl(12deg 54% 25%) 69%,
    hsl(26deg 66% 22%) 80%,
    hsl(40deg 76% 20%) 90%,
    hsl(55deg 74% 18%) 100%
  );
  border: 2px solid rgb(128, 128, 128);
  border-radius: 16px;
  transition: all 0.3s ease;
}

.movieItem::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 255, 255, 0);
  transition: background-color 0.3s ease;
  z-index: 1;
  border-radius: 16px;
  pointer-events: none;
}

.movieItem:hover::before {
  background: rgba(192, 192, 192, 0.1);
}

.movieItem:hover {
  z-index: 99;
  border: 2px solid rgb(163, 163, 163);
}

.movieItem a:hover {
  color: inherit;
}

.movieItem img {
  margin: 0 auto;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.movieDetails {
  position: relative;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 8px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.vote {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 5px;
  /* transform: translateX(-50%); */
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: #2a35ac8e;
}

.releaseDate {
  color: rgb(62, 158, 243);
}
