.similarMovies {
  text-align: center;
}

.similarMoviesHeading {
  position: relative;
  margin-top: 50px;
  padding-bottom: 15px;
  margin-bottom: -20px;
  text-align: center;
  color: rgb(164, 210, 210);
}

.similarMoviesHeading::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    rgb(110, 119, 173),
    rgb(110, 173, 173),
    rgb(98, 136, 175)
  );
}
