.creditsList {
  padding: 0 10px;
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;

  li {
    background: linear-gradient(
      to right,
      rgb(58, 62, 146),
      rgb(67, 69, 144),
      rgb(72, 57, 142)
    );
    color: rgb(197, 197, 197);
    max-width: 180px;
    align-self: stretch;
    border: 2px solid rgba(85, 85, 85, 0.452);
    border-radius: 16px;
    box-shadow: 3.3px 6.6px 6.6px hsla(0, 0%, 22%, 0.071);
    -webkit-box-shadow: -12px -4px 14px -12px rgba(0, 0, 0, 0.24);
    box-shadow: -12px -4px 14px -12px rgba(0, 0, 0, 0.24);
  }

  img {
    object-fit: cover;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }
  .actorDescription {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 0;
  }
  .actorName {
    color: rgb(161, 227, 255);
    font-weight: 500;
  }
}
