.goBackButton {
  display: block;
  padding: 5px;
  width: 100px;
  margin: 0 auto;
  margin-top: 40px;
  background: #637386;
  border: 2px solid rgb(74, 70, 83);
  border-radius: 10px;
  color: rgb(215, 229, 241);
  transition: all 0.2s ease;
}

.goBackButton:hover {
  background: #6d7d92;
  color: aliceblue;
}

.goBackButton:active {
  transform: translateY(1px);
}
